[Unit]
Description=Cerbinou rhasspy router service

[Service]
ExecStart=/home/pi/git/cerbinou/.venv/bin/python3 /home/pi/git/cerbinou/api/router_api.py 
WorkingDirectory=/home/pi/git/cerbinou/api
EnvironmentFile=/etc/cerbinou/router_api.env
Restart=always
User=pi
SyslogIdentifier=cerbinou

[Install]
WantedBy=multi-user.target
