[Unit]
Description=Cerbinou rhasspy router service

[Service]
ExecStart=/home/pi/miniconda3/condabin/conda run --live-stream -n cerbinou python /home/pi/git/cerbinou/api/router_api.py
WorkingDirectory=/home/pi/git/cerbinou/api
EnvironmentFile=/etc/cerbinou/router_api.env
Restart=always
User=pi
SyslogIdentifier=ssh-domoticz

[Install]
WantedBy=multi-user.target
