[Unit]
Description=Rhasspy service

[Service]
ExecStart=/bin/bash /home/pi/rhasspy/bin/rhasspy -p fr
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
